<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omnicent Reader's Viewpoint comunity</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Let's talk about Omnicent Reader's Viewpoint</h1>

        <div class="content">
            <div class="text-left">
                <p>" Este es un desarrollo que yo conozco ". En el momento en que pensó eso, el mundo había sido destruido y se había desarrollado en un nuevo universo. La nueva vida de un lector ordinario comienza dentro del mundo de la novela, una novela que solo él había terminado.

                    Kim Dokja es un simple oficinista, es una persona solitaria cuyo único pasatiempo es leer novelas web, y su favorita fue “Tres formas de sobrevivir al Apocalipsis”. Todos los demás lectores perdieron el interés, pero Dokja fue el único que terminó la novela web después de 3149 capítulos. Luego, recibe un mensaje misterioso del autor, diciendo que la historia ahora estará minetizada. Dokja rápidamente se da cuenta de que "Tres formas de sobrevivir al Apocalipsis" se ha convertido en realidad, y ahora es el único que sabe cómo termina la historia.</p>
            </div>
            <div class="image-right">
                <img src="https://1.bp.blogspot.com/-iffwp6lnxdc/YSUXah3NAqI/AAAAAAAAAQM/8wO59xZzddIrBpeR89wbwNmBVKk44wXKwCPcBGAYYCw/w380-h213-p-k-no-nu/lecor%2Bomnisiente.png" alt="Imagen derecha" width="2000" height="500">
            </div>
        </div>

        <div class="content reverse">
            <div class="text-right">
                <p>El autor de la novela web surcoreana Lector Omnisciente es Sing Shong. La novela se publicó por primera vez en la plataforma Munpia el 6 de enero de 2018 y finalizó el 2 de febrero de 2020. 
                    Lector Omnisciente también es conocida como Omniscient Reader's Viewpoint en inglés y Jeonjijeog Dogja Sijeom en coreano.</p>
            </div>
            <div class="image-left">
                <img src="https://cdn1.munpia.com/files/attach/2016/0513/000/8k4uzC9UJuK3sqMe.jpg" alt="Imagen izquierda">
            </div>
        </div>
    </div>
</body>
</html>